<% content_for :main do %>

  <div class="row">
    <div class="col-xs-4">
      <h1>Bernify</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h4>Create a Bernie</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body index">
          <h5>Step 1: Choose a background</h5>
          <% @backgrounds.each do |background| %>
            <%= image_tag background.image.url(:thumb), class: "background clickable", data: background.image.url(:original) %>
          <% end %>
          <p>Or, upload your own:</p>
          <%= render './backgrounds/form' %>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body index">
          <h5>Step 2: Choose a sticker</h5>
          <% @stickers.each do |sticker| %>
            <%= image_tag sticker.image.url(:thumb), class: "sticker draggable" %>
          <% end %>
          <p>Or, upload your own:</p>
          <%= render './stickers/form' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-body drop-target">
          <h5>Step 3: Create your Bernie!</h5>
          <div id="droppable"></div>
        </div>
        <%= button_to "Save your Bernie", '#', id: "save-bernie" %>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>

  <%#= render 'list' %>

<% end %>

<% content_for :scripts do %>
  <script>

    $(window).ready(function(){
      $(".draggable").draggable({
        appendTo: $("#droppable"),
        cursor: "move",
        containment: "document",
        helper: "clone",
        opactiy: 0.75,
        scroll: true,
        stack: ".draggable"
      });
      var appendTo = $(".draggable").draggable("option", "appendTo");
      var cursor = $(".draggable").draggable("option", "cursor");
      var containment = $(".draggable").draggable("option", "containment");
      var helper = $(".draggable").draggable("option", "helper");
      var opacity = $(".draggable").draggable("option", "opacity");
      var scroll = $(".draggable").draggable("option", "scroll");
      var stack = $(".draggable").draggable("option", "stack")
    });

    $("#droppable").droppable({
      accept: ".draggable",
      drop: function(event, ui){
        var droppedImage = $(".ui-draggable-dragging")[0]
        var newUrl = ""
        $.ajax({
          url: "<%= proxy_image_path %>",
          type: 'POST',
          data: {image_url: droppedImage.src},
          success: function(response){
            newUrl = response
            debugger;
            droppedImage = $(droppedImage).attr("src", newUrl)
            debugger;
            $("#droppable").append(droppedImage.clone().draggable({
              containment: "parent"
            }));
          }
        })
        debugger;
        $(ui.helper).attr("src", newUrl)
        debugger;
        console.log($(ui.helper));
        $(".ui-draggable-handle").dblclick({uiData: ui}, (function(event){
          this.remove();
        }))
      }
    });

    $(".clickable").click(function() {
      var newUrl = this.attributes.data.value;
      $.ajax({
        url: "<%= proxy_image_path %>",
        type: 'POST',
        data: {image_url: newUrl},
        success: function(response){
          $("#droppable").append("<img src='" + response + "' class='bernie-background'></img>");
        }
      });
    })

    $("#save-bernie").click(function(event) {
      event.preventDefault();
      html2canvas($("#droppable"), {
        logging: true,
        onrendered: function(canvas){
          var img = {meme: canvas.toDataURL()}
          $.ajax({
            url: "<%= bernies_path %>",
            data: {bernie: img},
            type: 'POST',
            success: function(result){
              window.open(img);
            }
          });
        }
      })
    })

  </script>
<% end %>
